
.nav-link {
    color: #000000;
  }
  
  .nav-item {
    padding-top: 10px;
    font-size: 18px;
  }
  
  .second_nav {
    padding-right: 30px;
  }
  
  .nav-link {
    background-color: inherit;
    border:none;
  }
  
  .nav-search:focus{
    /* outline: none; */
    border-radius: 15px;
    border: 2px solid #000000;
  }
  
  .nav-booking:focus {
    /* outline: none; */
    border-radius: 15px;
    border: 2px solid #000000;
  }
  
  .btn#favorite{
  
    background-color: #ffffff;
    color: #000000;
    border-radius: 50%;
    width: 30px;
    height: 30px;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
  
  
}