* {
  margin: 0;
  padding: 0;
}
form {
  background-color: rgba(140, 139, 139, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 20px;
  text-align: center;
  width: 620px;
  height: 428px;
  margin: 50px auto;


}
p.form-title{
  font-family:Georgia, 'Times New Roman', Times, serif;
  font-size: 40px;
  font-weight: 100;
  padding-top: 25px;
  padding-bottom: 5px;
  color: white;

}

body{
  background:url("../static/background.jpg")  no-repeat center center;
  background-size:cover;
  background-attachment:fixed;

}

/* p{
  font-family:Georgia, 'Times New Roman', Times, serif
} */
div.input-item{
width: 100%;
margin: 10px;
text-align: left;
bottom: 10px 0px;
}

.text-input {
/* width: 570px; */
height: 30px;
/* border: 1px solid white; */
border: 1px solid #fff;
border-radius: 5px;
background-color: transparent;
color: white;
padding-left: 10px;
bottom: 10px 0px;
}
input[type="text"] {
  width: 570px;
  
  background-color: transparent;
  border: 1px solid white;
}

input[type="number"] {
  width: 170px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
} 
/* .text-input {
line-height: 30px;
font-size: 16px;
color: white;
} */

/* label{
  font-family: Arial, Helvetica, sans-serif;
  
} */

label.title_text{
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 166, 223);
  height: 16px;
  display: inline-block;
  margin-bottom: 8px;
  font-size: 15px;
  
}
 .title_special{
  
  color: red;
 }

.form-title {
  margin: 0 auto;
  text-align: center;
  color: white;
  font-size: 40px;
}
.head-divider {
  margin-left: 3%;
  color: white;
  width: 94%;
}
.inline-input#table_div_inline {
  width: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  gap: 20px;
}


/* default number of distance :10 */
input::input-placeholder{
  line-height: 30px;
  font-size: 16px;
  color: rgba(255, 255, 255, 0.363);

}



.form-body {
  display: flex;
  flex-direction: column;
  justify-content: left;
  align-items: start;
  flex-wrap: wrap;
  margin: 10px;
}
#location-checkbox {
  display: inline;
}



select{
  
  width: 360px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding-left:10px;
  float: right;


}

.autodetection{
  color: rgba(255, 255, 255, 0.718);
}

#id{
  float:right;

}

input[type=number]::-webkit-inner-spin-button,input[type=number]::-webkit-outer-spin-button {
  opacity: 0; 
  transition: opacity 0.5s ease-in-out; 
}

input[type=number]:hover::-webkit-inner-spin-button,input[type=number]:hover::-webkit-outer-spin-button {
  opacity: 1; 
}


option{
color: white;
}

select.category{
  width: 350px;
  height: 30px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: transparent;
  color: white;
  padding-left: 10px;
  float:right;

}

.research{
background-color: rgb(255, 108, 2);
color: white;
border: 0px;
font-size: 15px;
border-radius: 5px;
width: 100px;
height: 50px;
margin-top: -10px;
border: none; 
box-shadow: 0 5px 0 #c46603; 
transition: transform 0.2s ease-out; 
}


.research:hover{
  background-color: rgb(255, 142, 61);
  transform: translateY(-2px);
}

.clear{
background-color: rgb(79, 111, 173);
color: white;
border: 0px;
font-size: 15px;
border-radius: 5px;
width: 100px;
height: 50px;
margin-top: -10px;
border: none; 
box-shadow: 0 5px 0  rgb(60, 87, 141);
transition: transform 0.2s ease-out;
}
.clear:hover{
  background-color: rgb(117, 144, 197);
  transform: translateY(-2px);

}

.no_records {
background-color: white;
font-size: small;
color: red;
text-align: center;
padding: 10px 0px;
margin: 0px 100px;
}



#location{
  display: block;
}

#customer-input {
  display: block;
}


/* Add a border to the table */
table {
background-color: white;
text-align: center;
margin: 5px auto;
width: 80%;
border-collapse: collapse;
}

th {
font-family: Arial, Helvetica, sans-serif;
  padding: 10px 20px;
  background-color: rgb(240, 240, 240);
  box-shadow: 1px 4px 1px 1px rgba(180, 180, 180, 0.4);
border: 1px solid black;
}

th:hover {
cursor: pointer;
}

/* Add a border to all table cells */
td {
border: 1px solid black;
padding: 10px 20px;
font-family: Arial, Helvetica, sans-serif;
}

td.event_hover:hover {
color: blue;
cursor: pointer;
}

a.hover:hover{
  cursor:pointer;
  color:rgb(113, 9, 178)
}


/* event detail */

.expanded {
display: block;
}

div.eventDetail_window{
background-color: rgba(140, 139, 139, 0.4);
  -webkit-backdrop-filter: blur(4px);
  backdrop-filter: blur(4px);
  border: none;
  border-radius: 20px;
  text-align: center;
  width: 800px;
  height: 520px;
  margin: 50px auto 15px auto;
}


.event_head{
  font-family: Arial, Helvetica, sans-serif;
  color: white;
  font-size: x-large;
  font-weight: 500;
  padding-top: 28px;
  padding-bottom: 20px;
  border-bottom:2px;
}

.inline-input {
display: flex;
flex-direction: row;
justify-content: space-around;
gap: 20px;
}

div.div_left {
width: 250px;
text-align: left;
margin: 10px 0rem 20px 1.5rem;
padding-left: 20px;
}

div.div_right {
width:510px;
text-align: center;
/* margin: 20px 10px 20px 0px; */
}

/* .exist{
font-family: Arial, Helvetica, sans-serif;
color: rgb(112, 233, 209);
padding: 5px 0px;
font-weight: 500;
font-size: 18px;
text-indent: 1em;

} */

h4{
font-family: Arial, Helvetica, sans-serif;
color: rgb(112, 233, 209);
padding: 7px 0px 2px 0px;
font-weight: 500;
font-size: 18px;
}

p{
font-family: Arial, Helvetica, sans-serif;
color: white;
font-weight: 200;
font-size: 16px;



}

a{
color: rgb(24, 174, 216);
text-decoration: none;
font-size: 16px;
font-family: Arial, Helvetica, sans-serif;


}

p.onsale {
text-align: center;
background-color: green;
padding: 5px;
border-radius: 5px;
border: none;
width: fit-content;
}

p.rescheduled {
text-align: center;
background-color: orange;
padding: 5px;
border-radius: 5px;
border: none;
width: fit-content;
}

p.offsale {
text-align: center;
background-color: red;
padding: 5px;
border-radius: 5px;
border: none;
width: fit-content;

}

p.canceled {
text-align: center;
background-color: black;
padding: 5px;
border-radius: 5px;
border: none;
width: fit-content;
}




.notice {
display: flex;
justify-content: center;
align-items: center;
text-align: center;
font-size: large;
color: white;
}

/* #arrow{
  color: white;
} */

.arrow {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-top: none;
  border-left: none;
  transform: rotate(45deg);
}

.arrow:hover{
  border-width: 0px 2.5px 2.5px 0;
  cursor: pointer;

}

 


/* venue details */
div.venue_detail_window{

  background-color: white;
  border: 2px solid black;
  border-radius: 30px;
  text-align: center;
  width: 800px;
  height: 300px;
  margin: 10px;
  margin: 10px auto 10px auto;
}



div.black-border{
background-color: white;
border: 2px solid black;
border-radius: 20px;
text-align: center;
width: 780px;
height: 280px;
/* margin: 10px; */
margin: 10px auto 10px auto;
}




h3.venue_name{
color: black;
font-size: 35px;
font-family: Arial, Helvetica, sans-serif;
font-weight: 200;
padding-top: 20px;
border-bottom: 5px;
text-decoration: underline;
text-underline-offset: 10px;
text-decoration-thickness: 2px;
}

div.child_left{
  padding:60px 0px 0px 0px;
}

div.child_right{
padding: 30px 100px 0px 0px;
}

div#top {
display: flex;
flex-direction: row;
height: 80px;

}

div.address_head{
color: black;

height: 80px;
font-weight: 500;
font-size: 18px;
  text-align: right;
  padding-left: 50px;
  font-family: Arial, Helvetica, sans-serif;
}

div.address_data{
color: black;
font-size: 18px;
font-weight: 200;
padding-top: 0px;
width: 200px;
height: 80px;
text-align: left;
margin-left: -10px;
padding-left: 0px;
font-family: Arial, Helvetica, sans-serif;

}

p.address{
color: black;
color: black;
font-size: 18px;
font-weight: 200;
padding-top: 1px;
width: 200px;
height: 70px;
text-align: left;
padding-left: -5px;
font-family: Arial, Helvetica, sans-serif;
}

div#bottom{
  text-align: top;
text-align: center;
font-size: 20px;
padding-bottom: 30px;
}

div.upcoming{
text-align: left;
font-size: 20px;
padding-top: 30px;
}

/* div.outline {
background-color: white;
border: 1px solid black;
border-radius: 20px;
text-align: center;
width: 821px;
margin: 20px auto 10px auto;
} */

div.divided{
width: 0px;
height: 150px;
margin: 45px auto 30px 40px;
border-left: 1px solid black;
}
