* {
    margin: 0px;
  }
  
  body {
    background-image: url("background.jpg");
    background-size: cover;
    background-attachment: fixed;
  }
  
  div.container1 {
    background-color: rgba(140, 139, 139, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 620px;
    height: 410px;
    margin: 50px auto;
  }
  
  h1.header {
    font-family: "Times New Roman";
    font-size: 40px;
    font-weight: 100;
    padding-top: 25px;
    padding-bottom: 5px;
    color: white;
  }
  
  HR {
    margin-left: 10px;
    margin-right: 10px;
    color: white;
  }
  
  div.container1-1 {
    text-align: left;
    padding: 50px 10px 10px 20px;
  }
  
  input.input1 {
    width: 570px;
    height: 30px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
  }
  
  label {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  label.label1 {
    color: rgb(90, 118, 128);
  }
  
  label.label1::after {
    content: "*";
    color: red;
  }
  
  div.container1-2 {
    bottom: 10px 0px;
    display: flex;
  }
  
  div.container1-3 {
    text-align: left;
    padding: 5px 10px 10px 20px;
  }
  
  label.label2 {
    color: rgb(90, 118, 128);
  }
  
  input.input2 {
    width: 170px;
    height: 30px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
  }
  
  div.container1-4 {
    text-align: left;
    padding-left: 70px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }
  
  label.label3 {
    color: rgb(90, 118, 128);
  }
  
  .label3::after {
    content: "*";
    color: red;
  }
  
  select.selector {
    width: 320px;
    height: 30px;
    border: 0.5px solid white;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-left: 10px;
  }
  
  div.container1-5 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 20px;
    padding-top: 10px;
    padding-right: 10px;
  }
  
  .label4 {
    color: rgb(90, 118, 128);
    padding-right: 5px;
  }
  
  .label4::after {
    content: "*";
    color: red;
  }
  
  .label5 {
    color: rgb(187, 187, 187);
  }
  
  div.container1-6 {
    text-align: left;
    padding-left: 20px;
    padding-bottom: 10px;
    padding-top: 5px;
    padding-right: 10px;
  }
  
  .button1 {
    background-color: rgb(255, 108, 2);
    color: white;
    border: 0px;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
  }
  
  .button2 {
    background-color: rgb(79, 111, 173);
    color: white;
    border: 0px;
    font-size: 15px;
    border-radius: 5px;
    width: 100px;
    height: 50px;
  }
  
  div.errortag {
    background-color: white;
    color: red;
    text-align: center;
    padding: 10px 0px;
    margin: 0px 100px;
  }
  
  table.table1 {
    background-color: white;
    text-align: center;
    margin: 5px auto;
    width: 80%;
    border-collapse: collapse;
  }
  
  table,
  td {
    border: 1px solid;
    padding: 10px 20px;
  }
  
  td {
    font-family: Arial, Helvetica, sans-serif;
  }
  
  th {
    font-family: Arial, Helvetica, sans-serif;
    border: 1px solid;
    padding: 10px 20px;
    background-color: rgb(240, 240, 240);
    box-shadow: 1px 4px 1px 1px rgba(180, 180, 180, 0.4);
  }
  
  th:hover {
    cursor: pointer;
  }
  
  td.event_hover:hover {
    color: blue;
    cursor: pointer;
  }
  
  div.events_detail {
    background-color: rgba(140, 139, 139, 0.4);
    -webkit-backdrop-filter: blur(4px);
    backdrop-filter: blur(4px);
    border: none;
    border-radius: 20px;
    text-align: center;
    width: 800px;
    margin: 50px auto 10px auto;
  }
  
  div.child_div {
    display: flex;
    flex-direction: row;
  }
  
  h3 {
    color: white;
    text-align: center;
    padding: 10px;
  }
  
  div.child_div_left {
    width: 330px;
    text-align: left;
    margin: 10px 0rem 20px 1.5rem;
  }
  
  div.child_div_right {
    text-align: center;
    margin: 20px 10px 20px 0px;
  }
  
  h4 {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(112, 233, 209);
    padding: 10px 0px;
  }
  
  p {
    font-family: Arial, Helvetica, sans-serif;
    font-size: smaller;
    color: white;
  }
  

  
  p.onsale {
    text-align: center;
    background-color: green;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: fit-content;
  }
  
  p.rescheduled {
    text-align: center;
    background-color: orange;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: fit-content;
  }
  
  p.offsale {
    text-align: center;
    background-color: red;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: fit-content;
  }
  
  p.canceled {
    text-align: center;
    background-color: black;
    padding: 5px;
    border-radius: 5px;
    border: none;
    width: fit-content;
  }
  
  a {
    color: rgb(24, 174, 216);
    text-decoration: none;
    font-size: smaller;
  }
  
  p.show-venue {
    color: white;
    font-size: large;
  }

  div.buttonOfvenue {
    text-align: center;
  }
  
  div.button_venue {
    /* text-align: center;
    font-size: 1.5rem;
    color: white;
    background: transparent;
    border-width: 0px;
    outline: none;
    transform: scale(4, 1);
    margin: 0px auto 20px auto; */
    border: solid white;
    border-width: 0 1px 1px 0;
    display: inline-block;
    padding: 10px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  
  div.button_venue:hover {
    /* transform: scale(5, 2);
    cursor: pointer; */
    border-width: 0 2px 2px 0;
  }
  
  div.venue_details {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    width: 800px;
    margin: 10px;
  }
  
  div.child_div4 {
    display: flex;
    flex-direction: row;
  }
  
  div.address {
    display: flex;
    flex-direction: row;
    height: 50px;
    padding-bottom: 20px;
  }
  
  div.header_data_div {
    padding-top: 3px;
    width: 200px;
    height: 50px;
    text-align: left;
    padding-left: 10px;
  }
  
  div.data_header_div {
    height: 100px;
    text-align: right;
    padding-left: 75px;
  }
  
  h3.header_venue {
    color: black;
    padding-top: 10px;
    border-bottom: 5px;
    text-decoration: underline;
  }
  
  p.address_data {
    color: black;
  }
  
  div.divided_line {
    width: 0px;
    height: 100px;
    margin: 70px 50px 30px 50px;
    border-left: 1px solid black;
  }
  
  div.child_div4_left {
    padding: 70px 0px 0px 0px;
  }
  
  div.child_div4_right {
    padding: 70px 0px 0px 50px;
    text-align: center;
  }
  
  /* HR.hr2 {
    width: 200px;
    margin-left: 300px;
  } */
  
  div.outline_border {
    background-color: white;
    border: 1px solid black;
    border-radius: 20px;
    text-align: center;
    width: 821px;
    margin: 20px auto 10px auto;
  }
  