/* Add a border to the table */
table {
    border: 1px solid black;
  }
  
  th {
    border: 1px solid black;
  }
  /* Add a border to all table cells */
  td {
    border: 1px solid black;
  }
  
  .inline-input {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 20px;
  }

  .expanded {
    display: block;
  }

  .notice {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
  
  #parent {
    position: relative;
    height: 100px;
  }
  
  .child {
    height: 100%;
  }
  
  #parent::before {
    content: '';
    width: 1px;
    height: 100%;
    background-color: black;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }
   